@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fredericka+the+Great&family=League+Spartan:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'League Spartan', sans-serif;
  background-color: #012222;
  color: #fffaf0;
}

.title {
  font-family: 'Bebas Neue', sans-serif;
}

.logo {
  font-family: 'Fredericka the Great', serif;
  color: #fefebd;
  letter-spacing: 2px;
}